.App {
  text-align: center;
}

body {

  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

table, td, th {
  word-wrap: break-word;
  border: 1px solid white;
  border-collapse: collapse;
  padding: 5px;
  margin: 5px;
}

